* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

body {
  background-color: black;
  z-index: 1;
}

section {
  border: 2px solid #70f915;
}

a {
  text-decoration: none;
  border: 2px solid #15def9;
}

ul {
  border: 2px solid #680b66;
}

li {
  border: 2px solid red;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  border: 2px solid #0003c2;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  text-decoration: none;
}

header {
  height: 57px;
  left: 0;
  right: 0;
  position: relative;
}

header .container {
  height: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__buttons .header__button-menu {
  margin-left: 31px;
}

header .header__buttons .header__button-language {
  margin-left: 40px;
}

header .header__navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__navigation-list-item {
  display: inline;
  margin-right: 48px;
}

header .header__navigation-list-item:last-child {
  margin-right: 0px;
}

header .header__navigation-list-item a {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.main__hero {
  height: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../../IMAGES/main/IMG/image-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  border: 2px solid #ffc74e;
}

.main__hero .main__hero-title-svg {
  position: relative;
  top: 90.77px;
  width: 926px;
  height: 235.6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: 2px solid #ff2d6c;
}

.main__hero .main__hero-socials-list {
  width: 40px;
  position: absolute;
  top: 356px;
  left: 32px;
}

.main__hero .main__hero-socials-list-item {
  margin-bottom: 72px;
}

.main__hero .main__hero-socials-list-item a {
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.main__hero .main__hero-texts {
  border: 5px solid #6b0000;
}

.main__hero .main__hero-texts .main__hero-text_1 {
  font-family: "Gramatika-Light";
  font-size: 14px;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: 0.06em;
  color: white;
}

.main__hero .main__hero-texts .main__hero-text_1_1 {
  position: absolute;
  top: 562px;
  left: 264px;
  width: 216px;
  height: 85px;
  font-style: italic;
  text-indent: 1.6em;
}

.main__hero .main__hero-texts .main__hero-text_1_2 {
  position: absolute;
  top: 695px;
  left: 264px;
  width: auto;
  height: 17px;
  font-style: normal;
  text-transform: uppercase;
}

.main__hero .main__hero-texts .main__hero-text_2 {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.main__hero .main__hero-texts .main__hero-text_2_1 {
  position: absolute;
  left: 727px;
  top: 423px;
  padding-left: 1.5em;
  text-indent: -1.5em;
  width: 681px;
  height: 172px;
  font-family: "Kudryashev Headline";
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 104%;
  color: white;
}

.main__hero .main__hero-texts .main__hero-pagination {
  position: absolute;
  width: 13px;
  height: 17px;
  left: 1259px;
  top: 691px;
}

.main__hero .main__hero-texts .main__hero-pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.main__hero .main__hero-texts .main__hero-pagination-active-page::after {
  content: url("../../../IMAGES/main/SVG/sprite.svg#Rect-1");
  content: url("../../../IMAGES/main/SVG/sprite.svg#Rect-2");
  color: white;
}

.main__hero .main__hero-texts .main__hero-text_3 {
  position: absolute;
  width: 220px;
  height: 17px;
  left: 264px;
  top: 987px;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

.main__hero .main__hero-mark {
  display: block;
  border-radius: 50px 50px;
  width: 84px;
  height: 84px;
  position: absolute;
  left: 27px;
  top: 1030px;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #0f0d0d;
  background-color: white;
}

.main__info {
  height: 1672px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.main__info .main__info-text_1 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 27px;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 15em;
  text-transform: uppercase;
  color: #0f0d0d;
}

.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 {
  border: 3px solid lawngreen;
  width: 541px;
  height: 795px;
  font-weight: normal;
  color: #000000;
}

.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 .main__info-selebrity-card_1-date {
  margin: 8px 0 0 0;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 .main__info-selebrity-card_1-name {
  margin: 24px 0 0 0;
  font-family: "Kudryashev Headline";
  font-style: normal;
  font-size: 24px;
  line-height: 27px;
}

.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 .main__info-selebrity-card_1-text {
  margin: 10px 0 0 0;
  font-family: "Gramatika-Light";
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 .main__info-selebrity-card_1-buttons {
  margin: 20px 0 0 0;
}

.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 .main__info-selebrity-card_1-buttons .main__info-selebrity-card_1-button_1,
.main__info .main__info-selebrity-cards .main__info-selebrity-card_1 .main__info-selebrity-card_1-buttons .main__info-selebrity-card_1-button_2 {
  border-radius: 28px;
  background-color: white;
  font-family: "Gramatika-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.container {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid green;
  width: 100%;
}

@font-face {
  font-family: "Kudryashev Headline";
  src: url("../../FONTS/Kudryashev-Headline.otf") format("opentype");
}
/*# sourceMappingURL=index.css.map */