//   Main Hero =========================
.main__hero {
  height: 1100px;

  position: relative;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../../../IMAGES/main/IMG/image-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  //   Main Hero Title "Aught" =========================
  .main__hero-title-svg {
    position: relative;
    top: 90.77px;

    width: 926px;
    height: 235.6px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    fill: rgb(255, 255, 255);
  }

  //    Main Hero Social List =========================
  .main__hero-socials-list {
    width: 40px;

    position: absolute;
    top: 356px;
    left: 32px;
  }
  .main__hero-socials-list-item {
    margin-bottom: 72px;
  }
  .main__hero-socials-list-item a {
    font-family: "Gramatika-Light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  //   Main Hero Texts
  .main__hero-texts {
    //   Main Hero Text-1
    .main__hero-text_1 {
      font-family: "Gramatika-Light";
      font-size: 14px;
      line-height: 120%;
      font-weight: normal;
      letter-spacing: 0.06em;

      color: rgb(255, 255, 255);
    }
    .main__hero-text_1_1 {
      position: absolute;
      left: 20%;
      top: 50%;

      width: 216px;
      height: 85px;

      font-style: italic;
      text-indent: 1.6em;
    }
    .main__hero-text_1_2 {
      position: absolute;
      left: 20%;
      top: 60%;

      width: auto;
      height: 17px;

      font-style: normal;
      text-transform: uppercase;
    }
    //   Main Hero Text-2
    .main__hero-text_2 {
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
    .main__hero-text_2_1 {
      position: absolute;
      right: 20px;
      margin-top: 150px;
      padding-left: 1.5em;
      text-indent: -1.5em;

      font-family: "Kudryashev Headline";
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 104%;

      color: rgb(255, 255, 255);
    }

    //  Main Hero Pagination
    .main__hero-pagination {
      position: absolute;

      right: 20px;
      top: 601px;

      a {
        display: flex;

        width: 50px;
        height: 17px;

        margin-right: 30px;
        font-family: "Gramatika-Light";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;

        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: rgb(255, 255, 255);
      }
    }

    .main__hero-pagination-active-page::after {
      content: "  ";
      display: block;
      background-image: url("../../../IMAGES/main/SVG/Rectangle396.svg"),
        url("../../../IMAGES/main/SVG/Rectangle397.svg");
      background-repeat: no-repeat;
      background-position: bottom left;

      margin: 0 0 5px 6px;
      width: 60px;

      fill: rgb(255, 255, 255);
    }

    //   Main Hero Text-3
    .main__hero-text_3 {
      position: absolute;
      width: 220px;
      height: 17px;
      left: 20%;
      top: 85%;

      font-family: "Gramatika-Light";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;

      letter-spacing: 0.06em;
      text-transform: uppercase;

      color: rgb(255, 255, 255);
    }
  }

  .main__hero-mark {
    border-radius: 50px 50px;

    width: 84px;
    height: 84px;

    position: absolute;
    left: 2%;
    bottom: 1%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Gramatika-Light";
    font-style: normal;
    font-weight: normal;
    font-size: 11.5px;
    line-height: 100%;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: rgb(15, 13, 13);
    background-color: rgb(255, 255, 255);
  }
}
