.main__info {
  position: relative;

  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  background-color: rgb(255, 255, 255);

  .main__info-text_1 {
    padding: 0 7px 0 7px;
    display: flex;
    align-items: center;

    margin-top: 0;

    height: 27px;

    font-family: "Gramatika-Light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 8.4em;
    text-transform: uppercase;

    color: rgb(15, 13, 13);
  }
  .main__info-selebrities {
    font-family: "Gramatika-Light";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;

    .main__info-selebrities-card-date {
      margin: 8px 0 0 0;

      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    .main__info-selebrities-card-name {
      margin: 24px 0 0 0;

      font-family: "Kudryashev Headline";
      font-size: 24px;
      line-height: 27px;
    }
    .main__info-selebrities-card-text {
      margin: 10px 0 0 0;

      font-style: italic;
      letter-spacing: 0.06em;
    }
    .main__info-selebrities-cards-buttons {
      margin: 20px 0 0 0;

      .main__info-selebrities-cards-button_1,
      .main__info-selebrities-cards-button_2 {
        border-radius: 28px;
        background-color: rgb(255, 255, 255);

        font-family: "Gramatika-Light";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        text-transform: uppercase;
      }
    }

    .main__info-selebrities-cards_1 {
      height: 1680px;

      .main__info-selebrities-card_1 {
        position: absolute;
        top: 3%;
        left: 3%;

        width: 541px;
        height: 830px;
      }
      .main__info-selebrities-card_2 {
        position: absolute;
        top: 3%;
        right: 22%;
      }
      .main__info-selebrities-card_3 {
        position: absolute;
        top: 3%;
        right: 3%;
      }
      .main__info-selebrities-card_4 {
        position: absolute;
        left: 20%;
        top: 25%;
      }
      .main__info-selebrities-card_5 {
        position: absolute;
        left: 39%;
        top: 25%;
      }

      .main__info-selebrities-card_6 {
        position: absolute;
        right: 3%;
        top: 25%;
      }

      .main__info-selebrities-card_2,
      .main__info-selebrities-card_3,
      .main__info-selebrities-card_4,
      .main__info-selebrities-card_5,
      .main__info-selebrities-card_6 {
        width: 263px;
        height: 486px;
      }
    }

    //  Main Hero_2 ==========================
    .main__hero_2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 744px;

      background-image: url(../../../IMAGES/main/IMG/irina.jpg);

      background-repeat: no-repeat;
    }

    // Main info selebrities cards_2 ========================
    .main__info-selebrities-cards_2 {
      position: relative;
      height: 1680px;

      .main__info-selebrities-card_7 {
        position: absolute;
        top: 5%;
        left: 3%;
      }
      .main__info-selebrities-card_8 {
        position: absolute;
        top: 5%;
        left: 22%;
      }
      .main__info-selebrities-card_9 {
        position: absolute;
        top: 5%;
        right: 3%;
      }
      .main__info-selebrities-card_10 {
        position: absolute;
        bottom: 10%;
        left: 3%;
      }
      .main__info-selebrities-card_11 {
        position: absolute;
        bottom: 10%;
        right: 32%;
      }

      .main__info-selebrities-card_12 {
        position: absolute;
        bottom: 10%;
        right: 13%;
      }

      .main__info-selebrities-card_7,
      .main__info-selebrities-card_8,
      .main__info-selebrities-card_10,
      .main__info-selebrities-card_11,
      .main__info-selebrities-card_12 {
        width: 263px;
        height: 486px;
      }
      .main__info-selebrities-card_9 {
        width: 541px;
        height: 795px;
      }
    }
  }
  .main__hero_2 {
    color: rgb(255, 255, 255);
    position: relative;

    .main__hero_2-text_1 {
      position: absolute;
      top: 1%;
      left: 3%;

      display: inline-block;

      font-family: "Kudryashev Headline";
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 83px;
    }
    .main__hero_2-text_2 {
      position: absolute;
      top: 1%;
      right: 5%;

      display: inline-block;
      text-align: right;

      width: 417px;
      height: 166px;

      font-family: "Kudryashev Headline";
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 83px;
    }
    .main__hero_2-text_3 {
      position: absolute;
      top: 30%;
      left: 3%;

      display: inline-block;

      width: 258px;
      height: 101px;

      font-family: "Gramatika-Light";
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      letter-spacing: 0.06em;
    }
    .main__hero_2-text_4 {
      position: absolute;
      bottom: 5%;
      left: 3%;

      display: inline-block;
    }
    .main__hero_2-text_5 {
      position: absolute;
      bottom: 3%;
      right: 3%;

      display: inline-block;
    }
  }
}
