.main__hero {
  height: 1100px;

  background-image: url(../../../IMAGES/main/IMG/image-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;

  border: 2px solid rgb(255, 199, 78);

  //   Main Hero Title "Aught" =========================
  .main__hero-title-svg {
    width: 926px;
    height: 235.6px;

    display: block;
    margin-top: 90.77px;
    margin-left: auto;
    margin-right: auto;

    color: rgb(255, 255, 255);

    border: 2px solid rgb(255, 45, 108);
  }

  //    Main Hero Social List =========================
  .main__hero-socials-list {
    width: 40px;

    position: absolute;
    top: 356px;
    left: 32px;
  }

  .main__hero-socials-list-item {
    margin-bottom: 72px;
  }
  .main__hero-socials-list-item a {
    font-family: "Gramatika-Light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  //   Main Hero Text-1
  .main__hero-text_1 {
    font-family: "Gramatika-Light";
    font-size: 14px;
    line-height: 120%;
    font-weight: normal;
    letter-spacing: 0.06em;

    color: rgb(255, 255, 255);
  }
  .main__hero-text_1_1 {
    position: absolute;
    top: 562px;
    left: 264px;

    width: 216px;
    height: 85px;

    font-style: italic;
    text-indent: 1.6em;
  }
  .main__hero-text_1_2 {
    position: absolute;
    top: 695px;
    left: 264px;

    width: auto;
    height: 17px;

    font-style: normal;
    text-transform: uppercase;
  }
}
