.footer {
  margin-left: auto;
  margin-right: auto;

  width: 1440px;

  .container {
    position: relative;
    flex-direction: column;

    height: 602px;

    background-color: rgb(255, 255, 255);
    border: 32px solid rgb(0, 0, 0);

    .footer__title-svg {
      position: absolute;
      top: 5%;
      left: 3%;

      width: 407px;
      height: 101px;

      fill: rgb(0, 0, 0);
    }

    .footer__menu {
      position: absolute;
      right: 3%;
      top: 5%;

      width: 400px;

      .footer__menu-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer__menu-list-item {
          justify-content: center;
          align-items: center;

          padding: 10px;

          margin-right: 20px;

          a {
            font-family: "Gramatika-Light";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            letter-spacing: 0.06em;
            text-transform: uppercase;

            color: #000000;
          }
        }
      }
    }
    .footer__input-wrapper {
      position: absolute;

      left: 3%;
      top: 40%;

      .footer__input-email {
        height: 40px;
        width: 610px;
        position: relative;

        border-top: 0;
        border-left: 0;
        border-right: 0;

        &::placeholder {
          font-family: "Kudryashev Headline";
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 27px;

          color: rgb(0, 0, 0);
        }
        &::after {
          content: "";
          position: absolute;
          z-index: 20;

          width: 32px;
          height: 32px;

          background-image: url("../../../IMAGES/main/SVG/sprite.svg#arrow");
          fill: rgb(0, 0, 0);
        }
      }

      .footer__input-email-svg {
        position: relative;
        top: 5px;
        right: 40px;
        width: 32px;
        height: 32px;

        fill: rgb(0, 0, 0);
      }
      .footer__input-email-text {
        font-family: "Gramatika-Light";
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 0.06em;

        color: #000000;
      }
    }

    .footer__address-email-link {
      position: absolute;
      left: 3%;
      bottom: 15%;

      font-family: "Kudryashev Headline";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 27px;

      color: #000000;
    }
    .footer__wraper-social-links {
      position: absolute;
      left: 3%;
      bottom: 5%;

      .footer__socials-list-item {
        margin-right: 24px;

        font-family: "Gramatika-Light";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 0.06em;
        text-transform: uppercase;
        a {
          color: rgb(0, 0, 0);
        }
      }
      .footer__socials-list-item:last-child {
        margin-right: 0;
      }
    }
    .footer__policy {
      position: absolute;
      left: 45%;
      bottom: 2%;

      font-family: "Gramatika-Light";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      letter-spacing: 0.06em;
      text-transform: uppercase;

      color: #000000;
    }

    .footer__group-text {
      position: absolute;
      right: 3%;
      bottom: 3%;

      width: 89px;
      height: 26px;
    }

    .footer__text_1 {
      position: absolute;
      bottom: -10%;
      display: inline-block;
      text-align: center;

      width: 1440px;
      height: 25px;

      font-family: "Gramatika-Light";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      letter-spacing: 7em;
      text-transform: uppercase;

      background-color: black;
      color: rgb(255, 255, 255);
    }
  }
}
