* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}
