* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: #000000;
  z-index: 1;
}

a {
  text-decoration: none;
}

ul {
  border: 2px solid #bd9b07;
}

li {
  border: 2px solid hsl(0, 100%, 50%);
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  border: 2px solid #00ff80;
}

.flex {
  display: flex;
}
